{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!
{% endblock %}

{% block body %}
	<div class="container">
		<h4 class="text-primary text-center">Admin Detail</h4>
		<div>
			<table class="table table-striped text-center">
				<thead>

					<tr>
						<th>Avatar</th>
						<th>ID</th>
						<th>Name</th>
						<th>age</th>
						<th>Datebirth</th>
						<th>Email</th>
						<th>nationality</th>
					</tr>


				</thead>
				<tbody>

					<tr>
						<td>
							<img src="{{ asset('image/admin/'~admin.avatar)}}" width="50" height="50" alt="avatar">
						</td>
						<td>{{admin.id}}</td>
						<td>{{admin.name}}</td>
						<td>{{admin.age}}</td>
						<td>{{admin.dob|date('d/m/Y')}}</td>
						<td>{{admin.email}}</td>
						<td>{{admin.nationality}}</td>
					</tr>


					


				</tbody>


			</table>
            <div style="text-align: center">
            <a  class="btn btn-primary" href="{{ path('admin_index') }}">Back</a>
            </div>
		</div>
        
	{% endblock %}
