{% extends 'base.html.twig' %}
{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container">
<h4 class="text-primary text-center">Admin</h4>
    <table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Avatar</th>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
    {% for admin in admins %}
        <tr>
            <td>
            <img src="{{ asset('images/admin/'~admin.avatar)}}" width="100" height="120" alt="avatar">
            </td>
            <td>{{admin.id}}</td>
            <td>{{admin.name}}</td>
  
            <td>
                <a class="btn btn-info" href="{{ path('admin_detail', {'id':admin.id})}}">Detail</a>
                <a class="btn btn-primary" href="{{ path('admin_edit', {'id':admin.id})}}">Edit</a>
            </td>
        </tr>
      {% endfor %}      
	  	</tbody>

		</table>

	</div>
{% endblock %}